<div class="container">
<app-cockpit (serverCreated)='onServeradd($event)' (blueprintCreated)='onBlueprintadd($event)' ></app-cockpit>
  <hr>
  <button class="btn btn-primary" (click)="onChanges()" >change</button>
  <button class="btn btn-danger" (click)="onDestroy()" >change</button>

  <app-serverelements *ngFor="let element of serverElements"
  [element]='element' [name]='element.name'>
  <p #content>
    <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
    <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
  </p></app-serverelements>
</div>
